<div class="card my-5">
  <div class="card-body">

    <form [formGroup]="newTransactionForm" >
      <div class="row">
        <div class="col">
          <input type="name" required="true" formControlName="description" class="form-control" id="transactionDescription" placeholder="Enter Description">
        </div>
        <div class="col">
          <input type="date" required="true" formControlName="transactionDate" class="form-control" id="transactionDate" placeholder="Date">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="number" required="true" formControlName="transactionAmount" class="form-control" id="amount" placeholder="Enter Transaction Amount">
        </div>
        <div class="col">
          <button type="sumbit" (click)="addExpense()" class="btn ntn-primary mb-2">Add Expense</button>
        </div>
        <div class="col">
          <button type="sumbit" (click)="addIncome()" class="btn ntn-primary mb-2">Add Income</button>
        </div>
        <div class="col">
          <button type="sumbit" (click)="addBalance()" class="btn ntn-primary mb-2">Add Balance</button>
        </div>
      </div>
    </form>

  <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Transaction Type</th>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.transactionDate.substr(0, 10)}}</td>
        <td>{{ transaction.type}}</td>
        <td>{{ transaction.description }}</td>
        <td>${{ transaction.amount}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
