<div>
  <mat-toolbar color="primary" class="example-toolbar">
    <h1 class="example-app-name">Personal Finance Overview</h1>
  </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="/accountoverview">Account Overview</a>
        <a mat-list-item routerLink="/transactions">List Transactions</a>
        <a mat-list-item routerLink="/account">Accounts</a>
        <a mat-list-item routerLink="/uploadcsv">Upload CSV</a>
      </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>

