<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-1">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-1">{{ title }}</h2>
          <ul class="text-center list-inline py-1">
            <li class="list-inline-item"><a routerLink="/transactions" class="btn btn-info">List Transactions</a></li>
            <li class="list-inline-item"><a routerLink="/account" class="btn btn-info">Add account</a></li>
            <li class="list-inline-item"><a routerLink="/uploadcsv" class="btn btn-info">Upload CSV</a></li>
            <li class="list-inline-item"><a routerLink="/accountoverview" class="btn btn-info">Account Overview</a> </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
