.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.form-group-wrapper {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
th.mat-sort-header-sorted {
  color: black;
}

table {
  width: 100%;
}
