<div *ngIf="noAccounts">
  <mat-label>There are no Accounts created. Please Create one from the Left Side Menu</mat-label>
</div>
<div *ngIf="!noAccounts"class="header-bar-inputs">
    <form [formGroup]="accountOverViewForm" >
      <mat-form-field class="header-bar-mat-forms">
        <mat-label>Select Account</mat-label>
        <mat-select required formControlName="accountSelectControl" (selectionChange)="selectAccount($event.value)">
          <mat-option *ngFor="let account of accountList" [value]="account.id">{{account.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="header-bar-mat-forms">
        <mat-label>Select Date Range</mat-label>
        <mat-select required formControlName="accountDateRange" (selectionChange)="dateRangeChange($event.value)">
          <mat-option [value]="'all'">All</mat-option>
<!--          <mat-option [value]="'currentYear'">Current Year</mat-option>-->
<!--          <mat-option [value]="'currentMonth'">Current Month</mat-option>-->
<!--          <mat-option [value]="'custom'">Custom Date Range</mat-option>-->
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="showCustomDateRange" class="header-bar-mat-forms">
        <input matInput [required]="true"  formControlName="startDate" [matDatepicker]="startDatePicker" placeholder="Choose start date" >
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field *ngIf="showCustomDateRange" class="header-bar-mat-forms">
        <input matInput [required]="true"  formControlName="endDate" [matDatepicker]="endDatePicker" placeholder="Choose end date" >
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker disabled="false"></mat-datepicker>
      </mat-form-field>
    </form>

</div>
<div *ngIf="!noAccounts" class="data-container">
  <div>
  <mat-card class="mat-card">
    <mat-card-header >
      <mat-card-title>{{accountName}} Balance</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="mat-card-content">
        Account Balance = {{balance}}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-card" *ngIf="dailyBalance.length > 0">
    <mat-card-header >
      <mat-card-title>Current Month Summary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="mat-card-content"> Current Month Expense = {{currentMonthExpense}} </p>
      <p class="mat-card-content"> Current Month Income = {{currentMonthIncome}} </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card">
    <mat-card-header >
      <mat-card-title>Previous Month Summary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="mat-card-content"> Previous Month Expenses = {{balance}} </p>
      <p class="mat-card-content"> Previous Month Income = {{balance}} </p>
    </mat-card-content>
  </mat-card>
  </div>
  <div class="chart-area" *ngIf="dailyBalance.length > 0">
    <google-chart class="chart-area" [title]="'Account Balance Over Time'" [type]="'LineChart'" [data]="dailyBalance" [columnNames]="columnNames"></google-chart>
    <google-chart [title]="'Transactions Category Breakdown'" [type]="'PieChart'" [data]="transactionCategories" [columnNames]="columnNames" ></google-chart>
  </div>
</div>
