<mat-form-field>
  <mat-label>Select Account</mat-label>
  <mat-select required name="account_info" (selectionChange)="selectAccount(selectedAccount)" [(ngModel)]="selectedAccount">
    <mat-option *ngFor="let account of accountList" [value]="account.id">{{account.name}}</mat-option>
<!--    <mat-option value="income">Income</mat-option>-->
<!--    <mat-option value="expense">Expense</mat-option>-->
<!--    <mat-option value="balance">Balance Update</mat-option>-->
  </mat-select>
</mat-form-field>
<mat-card class="mat-card">
  <mat-card-header >
    <mat-card-title>{{accountName}} Balance</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="mat-card-content">
      Account Balance = {{balance}}
    </p>
  </mat-card-content>
</mat-card>
<div class="chart-area">
  <google-chart class="chart-area" [title]="'Account Balance Over Time'" [type]="'LineChart'" [data]="dailyBalance" [columnNames]="columnNames"></google-chart>
</div>
